@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideInBottom {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-fade-in,
.animate-slide-in-bottom {
    will-change: transform, opacity;
}

.animate-slide-in-bottom {
    animation: slideInBottom 0.5s ease-out forwards;
}

.fade-enter {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.fade-enter-active {
    opacity: 1;
}

.delay-200 {
    animation-delay: 200ms;
}

.delay-400 {
    animation-delay: 400ms;
}